.chart{
    margin: .7rem;
    padding: 1.0rem;
    -webkit-box-shadow: 0rem 0rem 1.5rem -1.0rem rgb(0,0,0,0.75);
    box-shadow: 0rem 0rem 1.5rem -1.0rem rgb(0,0,0,0.75);   
}
.chartTitle{
    margin-bottom: 1.0rem;
}
@media(max-width:30em){
    .chart{
        max-width: 70%;
        max-height: 40%;
    }
}