.widgetL{
    flex: 2;
    -webkit-box-shadow: 0rem 0rem 1.5rem -1.0rem rgb(0,0,0,0.75);
    box-shadow: 0rem 0rem 1.5rem -1.0rem rgb(0,0,0,0.75);
    padding: 1.0rem;
}
.widgetLTitle{
    font-size: 2rem;
    font-weight: 600;
}
.widgetLTable{
    max-width: 100%;
    border-spacing: 1.0rem;
}
.widgetLTh{
    text-align: left;
}
.widgetLUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widgetLImg{
    max-width: 4.0rem;
    max-height: 4.0rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.0rem;
}
.widgetLDate,.widgetLAmount{
    font-weight: 300;
}
.widgetLButton{
    padding: .5rem .7rem;
    border: none;
    border-radius: 1.0rem;
}
.widgetLButton.Approved{
    background-color: #c9fabd;
    color: #00ff00;
}
.widgetLButton.Declined{
    background-color: #fac1bd;
    color: #ff0000;
}
.widgetLButton.Pending{
    background-color: #ecbdfa;
    color: #0000ff;
}
@media(max-width:30em){
    .widgetL{
        flex: 1;
        max-width: 100%;
    }
    .widgetLImg{
        max-width: 2.0rem;
        max-height: 2.0rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: .50rem;
    }
    .widgetLStatus, .widgetLTh.s{
        display: none;
    }
}