.home{
    flex: 4;
}
.homeWidgets{
    display: flex;
    margin: 20px;
}
@media(max-width: 480px){
    .home{
        flex: 2;
    }
    .homeWidgets{
        display: block;
        margin: 10px;
    }
} 