.widgetS{
    flex: 1;
    -webkit-box-shadow: 0rem 0rem 1.5rem -1.0rem rgb(0,0,0,0.75);
    box-shadow: 0rem 0rem 1.5rem -1.0rem rgb(0,0,0,0.75);
    padding: 1.0rem;
}
.widgetSTitle{
    font-size: 2rem;
    font-weight: 600;
}
.widgetSImg{
    max-width: 4.0rem;
    max-height: 4.0rem;
    border-radius: 50%;
    object-fit: cover;
}
.widgetSList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.widgetSListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
}
.widgetSUser{
    display: flex;
    flex-direction: column;
}
.widgetSUsername{
    font-weight: 600;
}
.widgetSUserTitle{
    font-weight: 200;
}
.widgetSButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: .5rem;
    padding: .7rem 1.0rem;
    background-color: #eeeef7;
    color:gray;
    cursor: pointer;
}
.widgetSIcon{
    margin-right: .5rem;
}
@media(max-width:30em){
    .widgetS{
        flex: 1;
        max-width: 100%;
    }
    .widgetSImg{
        max-width: 2.0rem;
        max-height: 2.0rem;
        border-radius: 50%;
        object-fit: cover;
    }
}

