.sidebar {
  flex: 1;
  height: calc(110vh - 50px);
  background-color: rgb(240, 234, 250);
  position: sticky;
  top: 50px;
}
.item {
  font-size: large;
}
@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
