.sidebar {
  flex: 1;
  height: calc(110vh - 5em);
  background-color: rgb(240, 234, 250);
  position: sticky;
  top: 5em;
}
.item {
  font-size: large;
}
@media (max-width: 30em) {
  .sidebar {
    display: none;
  }
}